@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Aplicativo Base 2022</h1>
        <p class="lead">En este proyecto en .net Core, podrán desarrollar las bases en programación con la arquitectura MVC, 
        con ejemplos de ABM simples utilizando C#, HTML Y JAVASCRIPT.</p>
        <p>¡Éxitos y a dar lo mejor de cada uno!</p>
    </div>
</div>


